<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<style>
	i{color:red;}
</style>
</head>
<body>

	<h3>Validation</h3>
	<div th:text="${message}"></div>
	<form action="/validation/validate" method="post" th:object="${sv}">
		<input th:field="*{email}" placeholder="Email Address?">
			<i th:errors="*{email}"></i> <br>
		<input th:field="*{fullname}" placeholder="Full name?"> <br>
			<i th:errors="*{fullname}"></i> <br>
		<input th:field="*{marks}" placeholder="Average marks?"> <br>
			<i th:errors="*{marks}"></i> <br>
		<input th:field="*{gender}" th:value="true" type="radio"> Male 
		<input th:field="*{gender}" th:value="false" type="radio"> Female <br>
			<i th:errors="*{gender}"></i> <br>
		<select th:field="*{country}">
			<option value=""> Nationality? </option>
			<option value="VN"> Việt Nam </option>
			<option value="US"> United States </option>
		</select>
	</form>
</body>
</html>